

body {
	font-family: Gotham, Futura, Avenir, sans-serif black;
}

* {
		box-sizing: border-box;		
}

h1 {
	text-align: center;
	font-size: 175%;
}

p {
	font-family:sans-serif;
	font-size: 100%;
	padding: 30px;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin: 10px 5px 5px 30px;
	text-align: justify;
	line-height: 1.5;
	overflow: hidden;
}

.row {
	width: 100%;
	padding: 5px;
	position: absolute;
	margin: 0px;
}

.box {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		padding: 10px;
		float: left;
		justify-content: space-around;
		position: relative;
}

section {
    border: 1px solid black;
    background-color:#b3b3b3 ;
    width: 100%;
    height: auto;
    color: #0d0d0d;
    position: relative;
    overflow: auto;
}

.beef,.chicken,.sushi {
	height: 40px;
	width: 40%;
	border: 1px solid black;
	padding: 7px;
	position: absolute;
	text-align: center;
	font-size: 125%;
	top: -1px;
	right: -1px;
	overflow: auto;
}

.beef {
	background-color: #cd5c5c;
}
.chicken {
	background-color: #00fa9a;
}
.sushi {
background-color: #87ceeb;
}

/********** Large devices only **********/
@media (min-width: 992px) {
.box {
	float: left;
	width: 33.33%
}
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.ld {
		float: left;
		width: 50%
	}
	.md {
		width: 100%
	}
	.sushi {
		width: 20%
	}
}
